//Primary-Colors
$theme-gradient-one: hsl(6, 100%, 80%);
$theme-gradient-two: hsl(335, 100%, 65%);

//Neutral-Colors
$theme-pale-blue: hsl(243, 100%, 93%);
$theme-gray-blue: hsl(229, 7%, 55%);
$theme-blue: hsl(228, 56%, 26%);
$theme-dark-blue: hsl(229, 57%, 11%);
$theme-light-white: hsla(0, 0%, 100%, 0.8);
$theme-light-ashe-blue: hsl(239, 30%, 67%);