@use '../global' as *;
@use '../components' as *;

//notice-animation
@include breakpoint (tablet) {
    .notice {
        animation: bounce 2s ease infinite;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(5px);
        }

        100% {
            transform: translateY(0px);
        }
    }
}

@media (prefers-reduced-motion) {
    .notice {
        animation-play-state: paused;
    }
}

//hover-animation
.section-one__icon {
    &-listitem {
        transition: all 0.2s ease-in-out;

        @include hover {
            &:is(:hover) {
                transform: translateY(-2px);
            }
        }

        &:has(.section-one__icon-link:focus) {
            transform: translateY(-2px);
            border: 1px solid $theme-pale-blue
        }
    }

    &-link {
        @include hover {
            cursor: pointer;
        }
    }
}