/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: hsl(229, 57%, 11%);
}
@media screen and (min-width: 48rem) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-size: 100% 50vh;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 60rem;
}

.section {
  width: 100%;
  max-width: 20.625rem;
  padding: 2.5rem;
  border-radius: 0.8rem;
  background-color: hsl(228, 56%, 26%);
}

@media screen and (min-width: 48rem) {
  main {
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
  }
}
.section-one {
  border-top-right-radius: 6rem;
}
.section-one__logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.section-one__icon-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.section-one__icon-listitem {
  display: grid;
  width: 3rem;
  height: 3rem;
  border-radius: 0.6rem;
  background-color: hsl(229, 57%, 11%);
}
.section-one__icon {
  margin: auto;
}
@media screen and (min-width: 48rem) {
  .section-one {
    width: 100%;
    max-width: 20.625rem;
  }
}

.section-two {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  color: hsl(243, 100%, 93%);
}
.section-two__title {
  font-weight: 400;
  margin-bottom: 0.2rem;
}
.section-two__number {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.section-two__meter-container {
  width: 100%;
}
.section-two__meter {
  position: relative;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  height: 1.25rem;
  border-radius: 5rem;
  overflow: hidden;
  background: none;
  background-color: hsl(229, 57%, 11%);
}
.section-two__meter::-webkit-meter-bar {
  width: 100%;
  height: 1.25rem;
  background: none;
  border: 0.125rem solid hsl(229, 57%, 11%);
  background-color: hsl(229, 57%, 11%);
}
.section-two__meter::after {
  position: absolute;
  content: "";
  width: 0.88rem;
  height: 0.88rem;
  top: 0.18rem;
  left: 74.5%;
  margin: auto;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 48rem) {
  .section-two__meter::after {
    top: 0.15rem;
    left: 78.2%;
  }
}
.section-two__meter::-webkit-meter-optimum-value {
  position: relative;
  border-radius: 5rem;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  background-size: 100% 100%;
}
.section-two__count {
  display: flex;
  font-weight: 700;
}
.section-two__count-right {
  margin-left: auto;
}
@media screen and (min-width: 48rem) {
  .section-two {
    width: 100%;
    max-width: 100%;
  }
  .section-two__title {
    text-align: left;
    align-self: flex-start;
  }
}

.notice {
  position: absolute;
  display: grid;
  bottom: -2.1875rem;
  color: hsl(229, 57%, 11%);
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  background-color: hsl(0, 0%, 100%);
}
.notice__text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 auto;
}
.notice__paragraph {
  font-size: 0.75rem;
  letter-spacing: 0.08rem;
  color: hsl(229, 7%, 55%);
}
@media screen and (min-width: 48rem) {
  .notice {
    top: -3rem;
    bottom: auto;
    right: 3rem;
    border-radius: 0.6rem 0.6rem 0 0.6rem;
  }
  .notice::after {
    position: absolute;
    content: "";
    width: 2.1875rem;
    height: 1.875rem;
    bottom: -1.5rem;
    right: 0rem;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0% 0%);
            clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0% 0%);
    background-color: hsl(0, 0%, 100%);
  }
}/*# sourceMappingURL=styles.css.map */