@use '../global' as *;
@use '../components' as *;

main {
    position: relative;
    @include flex;
    gap: 1rem;
    width: 100%;
}

.section {
    width: 100%;
    max-width: 21.875rem;
    padding: 2.5rem;
    border-radius: .8rem;
    background-color: $theme-blue;
}

@include breakpoint (tablet) {

}