@use '../global' as *;
@use '../components' as *;

main {
    @include flex;
    gap: 1rem;
    width: 100%;
    max-width: 60rem;
}

.section {
    width: 100%;
    max-width: 20.625rem;
    padding: 2.5rem;
    border-radius: .8rem;
    background-color: $theme-blue;
}

@include breakpoint (tablet) {
    main {
        flex-direction: row;
        align-items: flex-end;
        gap: 2rem;
    }
}