@use '../global' as *;
@use '../components' as *;

.notice {
    position: absolute;
    display: grid;
    bottom: -2.1875rem;
    color: $theme-dark-blue;
    padding: 0.5rem 1rem;
    border-radius: .6rem;
    background-color: $theme-white;

    &__text {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 2.2rem;
        font-weight: $bold;
        margin: 0 auto;
    }

    &__paragraph {
        font-size: 0.75rem;
        letter-spacing: 0.08rem;
        color: $theme-gray-blue;
    }

    @include breakpoint (tablet) {
        top: -3rem;
        bottom: auto;
        right: 3rem;
        border-radius: .6rem .6rem 0 .6rem;

        &::after {
            position: absolute;
            content: "";
            width: 2.1875rem;
            height: 1.875rem;
            bottom: -1.5rem;
            right: 0rem;
            clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0% 0%);
            background-color: $theme-white;
        }
    }
}