@use '../global' as *;
@use '../components' as *;

.section-one {
    border-top-right-radius: 6rem;

    &__logo {
        max-width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }

    &__icon-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    &__icon-listitem {
        display: grid;
        width: 3rem;
        height: 3rem;
        border-radius: .6rem;
        background-color: $theme-dark-blue;
    }

    &__icon {
        margin: auto;
    }
}