@use '../global' as *;
@use '../components' as *;

.section-two {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
    color: $theme-pale-blue;

    &__title {
        font-weight: $normal;
        margin-bottom: .2rem;
    }

    &__number {
        font-weight: $bold;
        color: $theme-white;
    }

    &__meter-container {
        width: 100%;
    }

    &__meter {
        //position: relative;
        display: block;
        width: 100%;
        height: 1.25rem;
        padding: 0.125rem;
        border-radius: 5rem;
        overflow: hidden;
        background: none;
        background-color: $theme-dark-blue;

        &::-webkit-meter-bar { //chrome
            width: 100%;
            height: 1.25rem;
            padding: 0.125rem 0;
            border: none;
            background: none;
            
        }

        &::-moz-meter-bar { //firefox
            width: 100%;
            border-radius: 5rem;
            background: none;
            background: linear-gradient(90deg, $theme-gradient-one, $theme-gradient-two);
        }

        &::-webkit-meter-optimum-value { //chrome
            border-radius: 5rem;
            background: none;
            background: linear-gradient(90deg, $theme-gradient-one, $theme-gradient-two);
        }

        // // &::after {
        // //     position: absolute;
        // //     content: "";
        // //     width: .88rem;
        // //     height: .88rem;
        // //     top: 0.18rem;
        // //     left: 74.5%;
        // //     margin: auto;
        // //     border-radius: 50%;
        // //     background-color: $theme-white;

        // //     @include breakpoint (tablet) {
        // //         top: 0.15rem;
        // //         left: 78.2%;
        // //     }
        // // }
    }    

    &__count {
        display: flex;
        font-weight: $bold;
        margin-top: 0.3125rem;

        &-right {
            margin-left: auto;
        }
    }

    @include breakpoint (tablet) {
        width: 100%;
        max-width: 100%;

        &__title {
            text-align: left;
            align-self: flex-start;
        }
    }
}